<div class="col">
  <a
    href="{{ url_for('recommend_profile.recommend_profile', user_id=user.id) }}"
    class="text-decoration-none text-dark"
  >
    <div class="card h-100">
      <img
      src="{{ url_for('static', filename=(user.image_path if user.image_path.startswith('uploads/') else 'img/default.png')) }}"
        alt="{{ user.name }}"
      class="profile-img-circle" 
      />
      <div class="card-body text-center">
        <h5 class="card-title">{{ user.name }}</h5>
        <p class="card-text">
          <strong>言語:</strong> {{ user.language }}<br />
          <strong>分野:</strong> {{ user.dev_field }}
        </p>
      </div>
    </div>
  </a>
</div>
